.set-promise {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid lightgray;
  margin-right: 12px;
  margin-left: 12px;
  margin-top: 20px;
}

.set-promise__icons {
  width: 15px;
  height: 15px;
  border: 1px solid black;
  border-radius: 50%;
  margin-bottom: 20px;
  padding: 5px;
}

.set-promise__block {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  padding: 20px;
}

.set-promise__time {
  font-weight: bold;
}
